<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Container manager</title>
</head>
<body>
<!--/*@thymesVar id="containersExist" type="java.lang.Boolean"*/-->
<div th:if="${containersExist}">
<table>
    <!--/*@thymesVar id="containers" type="java.util.List<Container>"*/-->
    <th:block th:each="container : ${containers}">
        <tr>
            <td>ID: </td>
            <!--/*@thymesVar id="id" type="java.lang.String"*/-->
            <td th:text="${container.id()}"></td>
        </tr>
    </th:block>
</table>
</div>
<div th:unless="${containersExist}">

</div>
</body>
</html>