<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Expedit status report</h1>
    <h2>Discord status:</h2>
    <table>
        <tr>
            <td>Is discord client ready: </td>
            <!--/*@thymesVar id="isDiscordReady" type="java.lang.Boolean"*/-->
            <td th:text="${isDiscordReady}"></td>
        </tr>
        <tr>
            <td>Is discord client logged int: </td>
            <!--/*@thymesVar id="isDiscordLoggedIn" type="java.lang.Boolean"*/-->
            <td th:text="${isDiscordLoggedIn}"></td>
        </tr>
    </table>
    <h2>JVM status: </h2>
    <table>
        <tr>
            <td>JVM Free Memory: </td>
            <!--/*@thymesVar id="freeMemory" type="java.lang.Long"*/-->
            <td th:text="${freeMemory}"></td>
        </tr>
        <tr>
            <td>Used memory: </td>
            <!--/*@thymesVar id="usedMemory" type="java.lang.Long"*/-->
            <td th:text="${usedMemory}"></td>
        </tr>
        <tr>
            <td>Total memory: </td>
            <!--/*@thymesVar id="totalMemory" type="java.lang.Long"*/-->
            <td th:text="${totalMemory}"></td>
        </tr>
        <tr>
            <td>Percentage used: </td>
            <!--/*@thymesVar id="percentageMemoryUsed" type="java.lang.Long"*/-->
            <td th:text="${percentageMemoryUsed}"></td>
        </tr>
    </table>
</body>
</html>