<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form method="get" th:action="@{/setconfig}">
    <select name="configname" title="Config name">
        <option value="expeditlocation">Set expedit's jar location</option>
        <option value="expeditconfiglocation">Set expedit's external config location</option>
    </select>
    <input name="configvalue" type="text" title="Config value">
    <input type="submit">
</form>
</body>
</html>